.add-page {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.add-card {
  width: 60%;
  background: #fff;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.07);
}

.add-title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
}

.add-form {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.label {
  font-size: 15px;
  font-weight: 500;
  color: #555;
  margin-bottom: 6px;
}

/* Upload Box */
.upload-box {
  width: 160px;
  height: 160px;
  border: 2px dashed #bfbfbf;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #fafafa;
  transition: 0.25s;
}

.upload-box:hover {
  background: #f0f0f0;
}

.upload-box img {
  width: 90px;
  opacity: 0.7;
}

.add-field input,
.add-field textarea,
.add-field select {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #ddd;
  border-radius: 10px;
  outline: none;
  font-size: 15px;
  transition: border 0.2s;
}

.add-field input:focus,
.add-field textarea:focus,
.add-field select:focus {
  border-color: #000;
}

/* Category + Price row */
.add-row {
  display: flex;
  gap: 20px;
}

/* ADD Button */
.add-btn {
  width: 180px;
  margin: 25px auto 0 auto;
  display: block;
  padding: 12px 0;

  background: #000;
  color: #fff;

  border: none;
  border-radius: 12px;

  font-size: 16px;
  font-weight: 600;

  cursor: pointer;
  transition: 0.25s ease-in-out;
  text-align: center;
}

.add-btn:hover {
  opacity: 0.85;
  transform: translateY(-2px);
}
